---
import HomeSlider from "../components/HomeSlider.astro";
import Subscriptions from "../components/Subscriptions.astro";
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Foro from "../components/Foro.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Footer from "../components/Footer.astro";
import truck1 from "../assets/image/truck2.webp";
import truck2 from "../assets/image/Misionteam.webp";
import truck3 from "../assets/image/truck3.webp";
import VisionSection from "../components/VisionSection.astro";
import imageA from '../assets/image/empresa1.png';
import imageB from '../assets/image/logonj2.png';
import imageD from '../assets/image/logonj1.png';
import ModalCompanies from "../components/modalCompanies.astro";
import Modalterms from "../components/Modalterms.astro";
import imageC from "../assets/image/driverschool.png";
import imageE from "../assets/image/omega.png";
import imageF from "../assets/image/tag.png";
import imageG from "../assets/image/global.png";
import imageH from "../assets/image/fastservices.png";
import imageI from "../assets/image/ride.png";
import imageJ from "../assets/image/hddah.png"
---

<SpanishLayout 
  ogTitle="La 95 trucking show"
  ogDescription="Descubre descuentos, suscripciones y todo lo que un camionero necesita en un solo lugar"
  ogImage="https://la95truckingshow.com/home95.jpg"
  ogUrl="https://la95truckingshow.com/">
  <HomeSlider images={[truck1.src, truck2.src, truck3.src]} />
  <Subscriptions 
    title1="Suscríbete y disfruta de Descuentos exclusivos"
    title2="Empresas afiiliadas"
    titleC="Si eres dueño de empresa"
    paragraphC="Elije esta opcion para convertirte en patrocinador y disfruta de los beneficios de la suscripción."
    text1="Agencia de seguros Descuentos por Empresa."
    text2="Venta de camiones Descuentos por Empresa."
    text3="Descubre los Descuentos para Escuelas de Manejo"
    text4="Descuentos Por Empresas de Compliance"
    text5="Explora Descuentos exclusivos para tu camión"
    text6="Descubre los Descuentos en grúas y plumas."
    titleA="Empresas afiiliadas"
    title="Suscríbete ahora"
    paragraph="Si eres un usuario regular, elige la suscripción que mejor se adapta a ti."
    yearly="Suscripción anual"
    monthly="Suscripción mensual"
    button="suscribirse ahora"
    buttonB="Ver más"
    buttonC="Afiliate aquí"
    anchor="/Afiliate"
    save="ahorras"
  />
  <ModalCompanies
    h2="Descuentos de servicios por compañia"
    button="cerrar"
    cell1="compañias"
    cell2="descuentos"
    offer1="Consulta gratis"
    offer2="El paquete con 5% de descuento debe pagarse en su totalidad para que el descuento aplique."
    offer3="Revisión completa (safety score), Evaluación total de cumplimiento, Revision de la compañia. Todo completamente gratis"
    offer4="El cliente recibe $50 de descuento en cada cambio de aceite. Así mismo — $50 menos por cada oil change"
    offer5="¡Suscríbete hoy y obtén 8% de descuento en todos nuestros servicios!."
    offer6="¡Aprovecha $100 de descuento en todos nuestros servicios!."
  />
  <Modalterms
    titleh2="TÉRMINOS Y CONDICIONES (EE. UU.) PARA SERVICIO DE SUSCRIPCIÓN"
    title1="1. Aceptación de los Términos"
    term1="Al registrarse, acceder o pagar por nuestros servicios, usted acepta cumplir con estos Términos y Condiciones, sujetos a las leyes de los Estados Unidos y del estado donde opera la empresa."
    title2="2. Descripción del Servicio"
    term2="Ofrecemos servicios de suscripción que proporcionan acceso a descuentos exclusivos en servicios relacionados con la industria del transporte."
    title3="3. Suscripción, Pagos y Facturación"
    term3="El usuario autoriza un cargo recurrente mensual. Los pagos se procesan automáticamente hasta que se cancele la suscripción. No se ofrecen reembolsos salvo requerimiento legal."
    title4="4. Renovación Automática"
    term4="La suscripción se renueva automáticamente según la FTC Negative Option Rule. El usuario puede cancelar en cualquier momento."
    title5="5. Cancelacíon"
    term5="La cancelación detiene futuros cargos pero no elimina los ya procesados. El acceso continuará hasta finalizar el periodo pagado."
    title6="6.Modificaciones"
    term6="La empresa puede modificar precios o contenido del servicio, notificándolo previamente."
    title7="7. Uso Permitido"
    term7="El usuario no debe compartir acceso ni reproducir contenido sin permiso. Todo el material está protegido por Copyright Act of 1976."
    title8="8. Propiedad Intelectua"
    term8="Los contenidos son propiedad de la empresa y están protegidos por leyes de derechos de autor y marcas registradas de EE. UU."
    title9="9. Limitación de Responsabilidad"
    term9="No garantizamos disponibilidad continua del servicio ni somos responsables por daños indirectos. La responsabilidad máxima no excederá lo pagado en los últimos 30 días."
    title10="10. Privacidad y Manejo de Datos"
    term10="La empresa cumple con leyes como CCPA, COPPA y lineamientos de la FTC."
    title11="11. Ley de Comercio Electrónico"
    term11="Todas las transacciones cumplen con E-SIGN Act, permitiendo contratos electrónicos válidos."
    title12="12. Terminación del Servicio"
    term12="La empresa puede suspender o cancelar el acceso por fraude, abuso o violaciones de estos términos."
    title13="13. Ley Aplicable y Disputas"
    term13="Regido por las leyes de EE. UU. y del estado de la empresa. Disputas pueden resolverse mediante arbitraje bajo la Federal Arbitration Act."
    title14="14. Contacto"
    term14="Correo: La95truckingshow@gmail.com"
    buttonAnualLink="aceptar y suscribirse"
    buttonMensualLink="aceptar y suscribirse"
  />
  <Foro 
    title="La Voz del Camionero"
    paragraph="¿Tienes ideas para nuevos episodios, tips para la vida en carretera o preguntas que quieres compartir con otros camioneros? 🚛 Este es tu espacio para expresarte. Haz clic en el botón y"
    strongA="participa"
    button="Únete al foro"
  />
  <Whatsapp
    titleA="únete a nuestro grupo de whatsapp"
    textA="📢 ¡Atención camioneros! 🚛💨"
    textB="Los invitamos a formar parte de nuestro grupo de WhatsApp de la 95 Trucking Show. Un espacio donde compartiremos información, novedades, rutas, eventos y todo lo relacionado con nuestra pasión por los camiones."
    button="ÚNETE" 
  />
  <VisionSection
    titleA="nuestra razón de ser"
    titleB="mision"
    titleC="vision"
    titleD="valores"
    textA="Ser el podcast líder en la comunidad camionera, brindando información relevante, entretenimiento y un espacio de expresión para los conductores de camiones. Buscamos dar voz a quienes recorren las carreteras, compartiendo sus experiencias, desafíos y éxitos, mientras fortalecemos el sentido de comunidad y apoyo mutuo."
    textB="Convertirnos en el referente principal para los camioneros de habla hispana, creando un espacio donde se compartan conocimientos, anécdotas y noticias del sector. Aspiramos a influir positivamente en la industria del transporte y mejorar la calidad de vida de los conductores a través de contenido valioso y auténtico."
    textC="Nuestros valores son el respeto por la labor de los camioneros, la autenticidad en las historias, el compromiso con contenido relevante, la unidad para fomentar la solidaridad y la pasión por la industria del transporte."/>
  <section class="top-companies">
    <h2>Empresas afiliadas</h2>
    <div class="underline"></div>
    <p>Empresas donde disfrutas tus Descuentos</p>
    <div class="companies-grid">
      <div class="content-box">
        <img src={imageA.src} alt="logo">
        <a href="https://www.instagram.com/adrians_motors/" target="_blank">adrian motors truck sale</a>
      </div>
       <div class="content-box">
        <img src={imageH.src} alt="logo">
        <a href="https://www.instagram.com/fast.servicetruck/" target="_blank">Fast Service Truck</a>
      </div>
      <div class="content-box">
        <img src={imageD.src} alt="logo">
        <a href="https://www.instagram.com/njtruckers/" target="_blank">nj truckers services corp</a>
      </div>
      <div class="content-box">
        <img src={imageC.src} alt="logo">
        <a href="https://www.instagram.com/newyorkcommericaldrivingschool/" target="_blank">NEW YORK commercial driving school</a>
      </div>
      <div class="content-box">
        <img src={imageE.src} alt="logo">
        <a href="https://www.instagram.com/omegainsurance_agency/" target="_blank">omega insurance agency</a>
      </div>
      <div class="content-box">
        <img src={imageF.src} alt="logo">
        <a href="https://www.instagram.com/tabcaticha/" target="_blank">tec safety solutions</a>
      </div>
      <div class="content-box">
        <img src={imageG.src} alt="logo">
        <a href="https://www.instagram.com/globaltruckrepairllc/" target="_blank">Global Truck Repair LLC</a>
      </div>
      <div class="content-box">
        <img src={imageB.src} alt="logo">
        <a href="https://www.instagram.com/njcompliance/" target="_blank">nj compliance solutions corp</a>
      </div>
        <div class="content-box">
        <img src={imageI.src} alt="logo">
        <a href="https://www.instagram.com/ridetire_truck_center/" target="_blank">ride tire truck center</a>
      </div>
      <div class="content-box">
        <img src={imageJ.src} alt="logo">
        <a href="https://www.instagram.com/ridetire_truck_center/" target="_blank">ride tire truck center</a>
      </div>
      <!-- Agrega más content-box según necesites -->
    </div>
  </section>
  <Footer />
</SpanishLayout>
<script>
	import "../scripts/mainMenu.js";
  import "../scripts/modal.js";
  import "../scripts/saveData/Drivers.js";
  import "../scripts/saveData/TruckBuyer.js"
</script>

<style lang="scss">
  @use "../assets/sass/index" as *;

  .underline {
    margin: 0 auto;
  }

 .top-companies {
    background-image: url('../assets/image/truckersMovil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 1;
  }

  .top-companies::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.85); 
    z-index: 0;
    border-radius: inherit;
  }

  .top-companies > * {
    position: relative;
    z-index: 1;
    color: #fff;
  }

  .companies-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 10px;
    text-align: center;
  }

  .content-box img {
    width: 100px;  
    height: 80px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }

  .content-box a {
    font-size: 0.95rem;
    color: $accent-b-light;
    text-decoration: none;
  }

  .content-box a:hover {
    text-decoration: underline;
    color: $secondary;
    transition: color 0.3s ease;
  }

  @media (min-width: 768px) {
    .companies-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .companies-grid {
      grid-template-columns: repeat(4, 1fr);
    }

    .content-box img {
      width: 150px;   
    }

    .top-companies {
      background-image: url('../assets/image/truckers.png');
    }
  }
</style>