---
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Footer from "../components/Footer.astro";
import Video1 from "../assets/image/videoEstudio1.mp4";
import img1 from "../assets/image/Gallery20.jpg";
import img2 from "../assets/image/Gallery21.jpg";
import img3 from "../assets/image/Gallery22.jpg";
import img4 from "../assets/image/Gallery65.jpg";
import img5 from "../assets/image/Gallery78.jpg";
import img6 from "../assets/image/Gallery17.jpg";
import img7 from "../assets/image/Gallery18.jpg";
import img8 from "../assets/image/Gallery22.jpg";
import Left from "../assets/image/left.png";
import Right from "../assets/image/right.png";
import Gallery7 from "../assets/image/Gallery27.jpg";
import Gallery9 from "../assets/image/Gallery67.jpg";
import Gallery10 from "../assets/image/Gallery68.jpg";
import Gallery11 from "../assets/image/Gallery69.jpg";
import Gallery12 from "../assets/image/Gallery70.jpg";
import Gallery13 from "../assets/image/Gallery71.jpg";
import Gallery14 from "../assets/image/Gallery72.jpg";
import Gallery15 from "../assets/image/Gallery73.jpg";
import Gallery16 from "../assets/image/Gallery74.jpg";
import Gallery17 from "../assets/image/Gallery75.jpg";
import Gallery18 from "../assets/image/Gallery76.jpg";
import Gallery19 from "../assets/image/Gallery77.jpg";
const images = [ Gallery7, Gallery9, Gallery10, Gallery11, Gallery12, Gallery13, Gallery14,
 Gallery15, Gallery16, Gallery17, Gallery18, Gallery19
];
---

<SpanishLayout title="Year Party 2025">
  <section>
    <div>
      <h2>Videos</h2>
      <div class="underline"></div>
      <div class="video-gallery">
        <video controls width="300" preload="none" poster="/src/assets/image/Gallery67.jpg">
          <source src={Video1} type="video/mp4" />
        </video>
        <video controls width="300" preload="none" poster="/src/assets/image/Gallery70.jpg">
          <source src={Video1} type="video/mp4" />
        </video>
        <video controls width="300" preload="none" poster="/src/assets/image/Gallery73.jpg">
          <source src={Video1} type="video/mp4" />
        </video>
      </div>
    </div>
    <h2>Imagenes destacadas</h2>
    <div class="underline"></div>
    <div id="carouselimg" class="carouselimg">
      <div id="carousel-track" class="carousel-track">
        <img src={img1.src} alt="Imagen" />
        <img src={img2.src} alt="Imagen" />
        <img src={img3.src} alt="Imagen" />
        <img src={img4.src} alt="Imagen" />
        <img src={img5.src} alt="Imagen" />
        <img src={img6.src} alt="Imagen" />
        <img src={img7.src} alt="Imagen" />
        <img src={img8.src} alt="Imagen" />
      </div>
    </div>
  </section>
  <figure>
    <div class="arrow left-arrow" id="leftArrow"><img src={Left.src} alt="Left"></div>
    <div class="arrow right-arrow" id="rightArrow"><img src={Right.src} alt="right"></div>
    <div class="gallery-container">
      <h2>Galeria</h2>
      <div class="underline"></div>
      <div class="gallery-slider" id="gallerySlider">
        {images.map((image, index) => (
          <img src={image.src} alt={`Imagen ${index + 1}`} />
        ))}
      </div>
      <div class="gallery-dots" id="galleryDots">
        {images.map((_, index) => (
          <span class="dot" data-index={index}></span>
        ))}
      </div>
    </div>
  </figure>
  <Footer />
</SpanishLayout>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.getElementById('carousel-track');
    const carousel = document.getElementById('carouselimg');

    // Duplicar contenido para efecto infinito
    track.innerHTML += track.innerHTML;

    let position = 0;
    const speed = 1.4; // Ajusta la velocidad

    function moverCarrusel() {
      position -= speed;
      if (Math.abs(position) >= track.scrollWidth / 2) {
        position = 0; // Reinicia sin parpadeo
      }
      track.style.transform = `translateX(${position}px)`;
      requestAnimationFrame(moverCarrusel);
    }

    moverCarrusel();
  });
  import "../scripts/mainMenu.js";
  import "../scripts/Gallery.js"
</script>

<style lang="scss">
  @use '../assets/sass/index' as *;

  //video and image carousel
  section {
    padding: 40px 30px;
    background-image: url('../assets/image/Pentagonos.png');
  }

  h2 {
    margin: 100px 0 0;
  }

  .underline {
    margin: 0;
  }

  .video-gallery {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }

  video {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    background: #000;
    margin: 30px 0 0;
  }

  .carouselimg {
    overflow: hidden;
    width: 100%;
    padding: 1rem;

    .carousel-track {
      display: flex;
      gap: 2rem;
      width: max-content;
      will-change: transform;

      img {
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        flex-shrink: 0;
      }
    }
  }
  //end video and image carousel
  .gallery-container {
    position: relative;
    width: auto;
    max-width: 600px;
    overflow: hidden;
  }

  .gallery-slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .gallery-slider img {
    padding-top: 20px;
    width: 100%;
    height: 550px;
    object-fit: contain;
    aspect-ratio: 3 / 2;
    flex-shrink: 0;
  }

  .gallery-dots {
    text-align: center;
    margin-top: 10px;
  }

  .gallery-dots .dot {
    display: inline-block;
    width: 29px;
    height: 10px;
    margin: 5px;
    background-color: $tertiary;
    border: 2px solid $accent-b-light;
    border-radius: 10%;
    cursor: pointer;
  }

  .gallery-dots .dot.active {
    background-color: $accent-b-light;
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 25%);
  }

  .left-arrow, .right-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 50px;
    z-index: 10;
    display: none;
  }

  .left-arrow {
    left: 10%;
  }

  .right-arrow {
    right: 10%;
  }

  @media (min-width: 600px) { 
    section {
      padding: 80px 100px;
    }
    h2 {
      text-align: center;
       margin: 50px 0 0;
    }

    .underline {
      margin: 0 auto;
    }

    video {
      width: 400px;
    }

    .arrow {
    display: block;
    cursor: pointer;
    }

    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>