---
import Gallery1 from "../assets/image/gallery1.webp";
import Gallery2 from "../assets/image/gallery2.webp";
import Gallery3 from "../assets/image/gallery3.webp";
import Gallery4 from "../assets/image/gallery4.webp";
import Gallery5 from "../assets/image/gallery5.webp";
import Gallery6 from "../assets/image/gallery6.webp";
import Gallery7 from "../assets/image/gallery7.webp";
import Gallery8 from "../assets/image/Gallery8.jpg";
import Gallery9 from "../assets/image/Gallery9.jpg";
import Gallery10 from "../assets/image/Gallery10.jpg";
import Gallery11 from "../assets/image/Gallery11.jpg";
import Gallery12 from "../assets/image/Gallery12.jpg";
import Gallery13 from "../assets/image/Gallery13.jpg";
import Gallery14 from "../assets/image/Gallery14.jpg";
import Gallery15 from "../assets/image/Gallery15.jpg";
import Gallery16 from "../assets/image/Gallery16.jpg";
import Gallery17 from "../assets/image/Gallery17.jpg";
import Gallery18 from "../assets/image/Gallery18.jpg";
import Gallery19 from "../assets/image/Gallery19.jpg";
import Gallery20 from "../assets/image/Gallery20.jpg";
import Gallery21 from "../assets/image/Gallery21.jpg";
import Gallery22 from "../assets/image/Gallery22.jpg";
import Gallery23 from "../assets/image/Gallery23.jpg";
import Gallery24 from "../assets/image/Gallery24.jpg";
import Gallery26 from "../assets/image/Gallery26.jpg";
import Gallery27 from "../assets/image/Gallery27.jpg";
import Gallery28 from "../assets/image/Gallery28.jpg";
import Gallery29 from "../assets/image/Gallery29.jpg";
import Gallery30 from "../assets/image/Gallery30.jpg";
import Gallery31 from "../assets/image/Gallery31.jpg";
import Gallery32 from "../assets/image/Gallery32.jpg";
import Gallery33 from "../assets/image/Gallery33.jpg";
import Gallery34 from "../assets/image/Gallery34.jpg";
import Gallery35 from "../assets/image/Gallery35.jpg";
import Gallery36 from "../assets/image/Gallery36.jpg";
import Gallery37 from "../assets/image/Gallery37.jpg";
import Gallery38 from "../assets/image/Gallery38.jpg";
import Gallery39 from "../assets/image/Gallery39.jpg";
import Gallery40 from "../assets/image/Gallery40.jpg";
import Gallery41 from "../assets/image/Gallery41.jpg";
import Gallery42 from "../assets/image/Gallery42.jpg";
import Gallery43 from "../assets/image/Gallery43.jpg";
import Gallery44 from "../assets/image/Gallery44.jpg";
import Gallery45 from "../assets/image/Gallery45.jpg";
import Gallery46 from "../assets/image/Gallery46.jpg";
import Gallery47 from "../assets/image/Gallery47.jpg";
import Left from "../assets/image/left.png";
import Right from "../assets/image/right.png";
const {title} = Astro.props;
---

<section> 
  <div class="arrow left-arrow" id="leftArrow"><img src={Left.src} alt="Left"></i></div>
  <div class="arrow right-arrow" id="rightArrow"><img src={Right.src} alt="right"></div>
  <div class="gallery-container">
    <h2>{title}</h2>
    <div class="underline"></div>
    <div class="gallery-slider" id="gallerySlider">
      <img src={Gallery1.src} alt="Imagen">
      <img src={Gallery2.src} alt="Imagen">
      <img src={Gallery3.src} alt="Imagen">
      <img src={Gallery4.src} alt="Imagen">
      <img src={Gallery5.src} alt="Imagen">
      <img src={Gallery6.src} alt="Imagen">
      <img src={Gallery7.src} alt="Imagen">
      <img src={Gallery8.src} alt="Imagen">
      <img src={Gallery9.src} alt="Imagen">
      <img src={Gallery10.src} alt="Imagen">
      <img src={Gallery11.src} alt="Imagen">
      <img src={Gallery12.src} alt="Imagen">
      <img src={Gallery13.src} alt="Imagen">
      <img src={Gallery14.src} alt="Imagen">
      <img src={Gallery15.src} alt="Imagen">
      <img src={Gallery16.src} alt="Imagen">
      <img src={Gallery17.src} alt="Imagen">
      <img src={Gallery18.src} alt="Imagen">
      <img src={Gallery19.src} alt="Imagen">
      <img src={Gallery20.src} alt="Imagen">
      <img src={Gallery21.src} alt="Imagen">
      <img src={Gallery22.src} alt="Imagen">
      <img src={Gallery23.src} alt="Imagen">
      <img src={Gallery24.src} alt="Imagen">
      <img src={Gallery26.src} alt="Imagen">
      <img src={Gallery27.src} alt="Imagen">
      <img src={Gallery28.src} alt="Imagen">
      <img src={Gallery29.src} alt="Imagen">
      <img src={Gallery30.src} alt="Imagen">
      <img src={Gallery31.src} alt="Imagen">
      <img src={Gallery32.src} alt="Imagen">
      <img src={Gallery33.src} alt="Imagen">
      <img src={Gallery34.src} alt="Imagen">
      <img src={Gallery35.src} alt="Imagen">
      <img src={Gallery36.src} alt="Imagen">
      <img src={Gallery37.src} alt="Imagen">
      <img src={Gallery38.src} alt="Imagen">
      <img src={Gallery39.src} alt="Imagen">
      <img src={Gallery40.src} alt="Imagen">
      <img src={Gallery41.src} alt="Imagen">
      <img src={Gallery42.src} alt="Imagen">
      <img src={Gallery43.src} alt="Imagen">
      <img src={Gallery44.src} alt="Imagen">
      <img src={Gallery45.src} alt="Imagen">
      <img src={Gallery46.src} alt="Imagen">
      <img src={Gallery47.src} alt="Imagen">
    </div>
    <div class="gallery-dots" id="galleryDots">
      <span class="dot active/"></span>
      <span class="dot active/"></span>
      <span class="dot active/"></span>
      <span class="dot active/"></span>
      <span class="dot active/"></span>
      <span class="dot active/"></span>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../assets//sass/index" as*;

.gallery-container {
  position: relative;
  width: auto;
  max-width: 600px;
  overflow: hidden;
}

section {
  background-image: url("../assets/image/Pentagonos.png");
  background-repeat:repeat;
  background-position: cover;
}

.gallery-slider {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-slider img {
  padding-top: 20px;
  width: 100%;
  height: 550px;
  object-fit: contain;
  aspect-ratio: 3 / 2;
  flex-shrink: 0;
}

.gallery-dots {
  text-align: center;
  margin-top: 10px;
}

.gallery-dots .dot {
  display: inline-block;
  width: 29px;
  height: 10px;
  margin: 5px;
  background-color: $tertiary;
  border: 2px solid $accent-b-light;
  border-radius: 10%;
  cursor: pointer;
}

.gallery-dots .dot.active {
  background-color: $accent-b-light;
  box-shadow: 0 0 25px 15px rgba($accent-b-light, 25%);
}

.left-arrow, .right-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 50px;
  z-index: 10;
  display: none;
}

.left-arrow {
  left: 10%;
}

.right-arrow {
  right: 10%;
}

.underline {
  width: 20%;
}

@media (min-width: 600px) { 

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 }

@media (min-width: 1024px) {
  .arrow {
    display: block;
    cursor: pointer;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery-container {
    max-width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .underline {
    width: 10%;
    height: 2px;
    background-color: $accent-b-dark;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto; 
  }
}
</style>
