---
import Gallery1 from "../assets/image/gallery1.webp";
import Gallery2 from "../assets/image/gallery2.webp";
import Gallery3 from "../assets/image/gallery3.webp";
import Gallery4 from "../assets/image/gallery4.webp";
import Gallery5 from "../assets/image/gallery5.webp";
import Gallery6 from "../assets/image/gallery6.webp";
import Gallery7 from "../assets/image/gallery7.webp";
---


<div class="gallery-container">
  <h2>galeria</h2>
  <div class="underline"></div>
  <div class="gallery-slider" id="gallerySlider">
    <img src={Gallery1.src} alt="Imagen 1">
    <img src={Gallery2.src} alt="Imagen 2">
    <img src={Gallery3.src} alt="Imagen 3">
    <img src={Gallery4.src} alt="Imagen 4">
    <img src={Gallery5.src} alt="Imagen 5">
    <img src={Gallery6.src} alt="Imagen 5">
    <img src={Gallery7.src} alt="Imagen 5">
  </div>
  <div class="gallery-dots" id="galleryDots">
    <span class="dot" data-index="0"></span>
    <span class="dot" data-index="1"></span>
    <span class="dot" data-index="2"></span>
    <span class="dot" data-index="3"></span>
    <span class="dot" data-index="4"></span>
    <span class="dot" data-index="5"></span>
    <span class="dot" data-index="6"></span>
  </div>
  <div class="arrow left-arrow" id="leftArrow">&#9664;</div>
  <div class="arrow right-arrow" id="rightArrow">&#9664;</div>
</div>


<style lang="scss">
  @use "../assets//sass/index" as*;

.gallery-container {
  position: relative;
  width: auto;
  max-width: 600px;
  overflow: hidden;
}

.gallery-slider {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-slider img {
  padding-top: 20px;
  width: 100%;
  flex-shrink: 0;
}

.gallery-dots {
  text-align: center;
  margin-top: 10px;
}

.gallery-dots .dot {
  display: inline-block;
  width: 29px;
  height: 10px;
  margin: 5px;
  background-color: $tertiary;
  border: 2px solid $accent-b-light;
  border-radius: 10%;
  cursor: pointer;
}

.gallery-dots .dot.active {
  background-color: $accent-b-light;
  box-shadow: 0 0 25px 15px rgba($accent-b-light, 25%);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  display: none; 
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.underline {
  width: 20%;
}

@media (min-width: 1024px) {
  .arrow {
    display: block;
  }
}
</style>
