---
const {h2, button, cell1, cell2} = Astro.props;
---

<div id="modalC" class="modal">
  <div class="close-menu-container"></div> 
  <div class="content-block">
    <h2>{h2}</h2>
    <div class="underline"></div>
    <div class="discount-table">
      <div class="row header">
        <div class="cell">{cell1}</div>
        <div class="cell">{cell2}</div>
      </div>
      <div class="row">
        <div class="cell">Omega Insurance Services</div>
        <div class="cell">Consulta gratis</div>
      </div>
    </div>
    <div class="section-center">
      <div class="light-gold gold-button">
        <button class="close">{button}</button>
      </div>
    </div>
  </div>
</div>

<div id="modalZ" class="modal">
  <div class="close-menu-container"></div> 
  <div class="content-block">
    <h2>{h2}</h2>
    <div class="underline"></div>
    <div class="discount-table">
      <div class="row header">
        <div class="cell">{cell1}</div>
        <div class="cell">{cell2}</div>
      </div>
      <div class="row">
        <div class="cell">Adrian´s Motors Truck Sale</div>
        <div class="cell">$500</div>
      </div>
    </div>
    <div class="section-center">
      <div class="light-gold gold-button">
        <button class="close">{button}</button>
      </div>
    </div>
  </div>
</div>

<div id="modalY" class="modal">
  <div class="close-menu-container"></div> 
  <div class="content-block">
    <h2>{h2}</h2>
    <div class="underline"></div>
    <div class="discount-table">
      <div class="row header">
        <div class="cell">{cell1}</div>
        <div class="cell">{cell2}</div>
      </div>
      <div class="row">
        <div class="cell">New York Commercial School</div>
        <div class="cell">5% off package most be paid in full for discount apply</div>
      </div>
    </div>
    <div class="section-center">
      <div class="light-gold gold-button">
        <button class="close">{button}</button>
      </div>
    </div>
  </div>
</div>

<div id="modalX" class="modal">
  <div class="close-menu-container"></div> 
  <div class="content-block">
    <h2>{h2}</h2>
    <div class="underline"></div>
    <div class="discount-table">
      <div class="row header">
        <div class="cell">{cell1}</div>
        <div class="cell">{cell2}</div>
      </div>
      <div class="row">
        <div class="cell">NJ Compliance Solutions Corp</div>
        <div class="cell">Revisión completa (safety score), Evaluación total de cumplimiento, Revision de la compañia. Todo completamente gratis</div>
      </div>
    </div>
    <div class="section-center">
      <div class="light-gold gold-button">
        <button class="close">{button}</button>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../assets/sass/index" as *;

  .discount-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #444;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    padding: 12px;
    border: 1px solid #999;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 0.7rem;
  }

  .header .cell {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  .row:nth-child(even) .cell {
    background-color: $primary;
  }

  .row:nth-child(odd) .cell {
    background-color: $tertiary;
  }

  .discount-table .cell:last-child {
    font-weight: bold;
    color: #26b826; 
  }

  .modal {
    display: none;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    backdrop-filter: blur(10px);
    background-color: rgba($tertiary, 0.95);
  }

  h2 {
    text-align: center;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $accent-b-dark;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    background-color: rgba(20, 20, 20, 0.9);
    overflow: hidden;
  }

  li {
    list-style-type: decimal;
    color: white;
    margin: 10px 0;
    line-height: 1.2rem;
    font-size: .80rem;
  }

  .section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .light-gold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    border-radius: 8px;
    padding: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  button{
    color: $accent-b-dark;
    font-weight: $regular;
    font-family: $heading;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: $tertiary;
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
    border: none;
  }

  .light-gold.gold-button {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 35%);
    border: 2px solid $accent-b-dark;
    margin: 20px 0 0;
  }

  .gold-button {
    background-color: $accent-b-light;
  }

  .gold-button:hover {
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 40%);
  }

  @media (min-width: 1024px) {
  .modal {
    padding: 0;
    background: rgba(20, 20, 20, 0.5);
    z-index: 99;
  }

  .content-block {
    width: 40%;
  }

  h2{
    font-size: 2rem;
  }

  .section-center{
    padding: 0;
  }
  .cell{
    font-size: 1rem;
  }
}
</style>