---
const {titleh2, term1, term2, term3, term4, term5, term6, term7, term8, term9, term10, title1, title2, title3, title4,
  title5, title6, title7, title8, title9, title10, title11, title12, title13, title14, buttonAnualLink, buttonMensualLink,
  term11, term12, term13, term14
 } = Astro.props;
---

<div id="modalA" class="modal">
  <div class="close-menu-container">
  </div> 
  <div class="content-block">
    <h2>{titleh2}</h2>
    <div class="underline"></div>
    <section>
      <ul>
        <p>{title1}</p>
        <li>{term1}</li>
        <p>{title2}</p>
        <li>{term2}</li>
        <p>{title3}</p>
        <li>{term3}</li>
        <p>{title4}</p>
        <li>{term4}</li>
        <p>{title5}</p>
        <li>{term5}</li>
        <p>{title6}</p>
        <li>{term6}</li>
        <p>{title7}</p>
        <li>{term7}</li>
        <p>{title8}</p>
        <li>{term8}</li>
        <p>{title9}</p>
        <li>{term9}</li>
        <p>{title10}</p>
        <li>{term10}</li>
        <p>{title11}</p>
        <li>{term11}</li>
        <p>{title12}</p>
        <li>{term12}</li>
        <p>{title13}</p>
        <li>{term13}</li>
        <p>{title14}</p>
        <li>{term14}</li>
      </ul>
    </section>
    <a class="btn mensual" target="_blank" href="https://checkout.square.site/merchant/MLKWBC3K6D44D/checkout/PYIOWO2437TJKUX32CKPB3VP" >{buttonMensualLink}</a>
  </div>
</div>
<div id="modalB" class="modal">
  <div class="close-menu-container">
  </div> 
  <div class="content-block">
    <h2>{titleh2}</h2>
    <div class="underline"></div>
  <section>
    <ul>
      <p>{title1}</p>
      <li>{term1}</li>
      <p>{title2}</p>
      <li>{term2}</li>
      <p>{title3}</p>
      <li>{term3}</li>
      <p>{title4}</p>
      <li>{term4}</li>
      <p>{title5}</p>
      <li>{term5}</li>
      <p>{title6}</p>
      <li>{term6}</li>
      <p>{title7}</p>
      <li>{term7}</li>
      <p>{title8}</p>
      <li>{term8}</li>
      <p>{title9}</p>
      <li>{term9}</li>
      <p>{title10}</p>
      <li>{term10}</li>
      <p>{title11}</p>
      <li>{term11}</li>
      <p>{title12}</p>
      <li>{term12}</li>
      <p>{title13}</p>
      <li>{term13}</li>
      <p>{title14}</p>
      <li>{term14}</li>
    </ul>
  </section>
  <a class="btn anual" target="_blank" href="https://checkout.square.site/merchant/MLKWBC3K6D44D/checkout/SHKCWLIMYAYNZ6XCWR25UJA6">{buttonAnualLink}</a>
  </div>
</div>
<style lang="scss">
  @use "../assets/sass/index" as *;

  .modal {
    display: none;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    backdrop-filter: blur(10px);
    background-color: rgba($tertiary, 0.95);
  }

  h2 {
    text-align: center;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $accent-b-dark;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    background-color: rgba(20, 20, 20, 0.9);
  }

  section{
    overflow-y: auto;
    max-height: 60vh;
  }

  li {
    color: white;
    margin: 10px 0;
    line-height: 1.2rem;
    font-size: .80rem;
  }

  .btn {
    width: 70%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  a {
    color: $accent-b-dark;
    font-size: 1.2rem;
    font-weight: $regular;
    font-family: $heading;
    background-color: transparent;
    cursor: pointer;
  }

  .btn.anual, .mensual {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 35%);
    border: 2px solid $accent-b-dark;
    margin: 20px 0 30px;
  }

  .btn:hover {
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 40%);
  }

  @media (min-width: 1024px) {
  .modal {
    padding: 0;
    background: rgba(20, 20, 20, 0.5);
    z-index: 99;
  }

  .content-block {
    width: 100%;
    max-width: 1000px;
    margin-top: 0;
  }

  ol {
    max-width: 80%;
  }

  .btn {
    width: 30%;
  } 
}
</style>