---
import Panelista1 from "../assets/image/bad.webp";
import Panelista2 from "../assets/image/jlo.webp";
import Panelista3 from "../assets/image/daddy.webp";
const {guest1, description1, title} = Astro.props
const {guest2, description2}= Astro.props
const {guest3, description3}= Astro.props 
---

<div id="modalA" class="modal">
    <div class="close-menu-container">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <div class="modal-content">
      <img src={Panelista1.src} alt="Card Image">
      <div>
        <div class="close-menu-B">
          <span class="close"></span>
          <div class="rombo">
            <div class="line2"></div>
          </div>
        </div>
        <h3 class="card-title">{guest1}</h3>
        <p>{title}</p>
        <div class="underline-center"></div>
        <p class="textRight">{description1}</p>
        <div class="socialLeft"> 
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-instagram-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-tiktok-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-facebook-logo"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modalB" class="modal">
    <div class="close-menu-container">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <div class="modal-content">
      <img src={Panelista2.src} alt="Card Image">
      <div>
        <div class="close-menu-B">
          <span class="close"></span>
          <div class="rombo">
            <div class="line2"></div>
          </div>
        </div>
        <h3 class="card-title">{guest2}</h3>
        <p>{title}</p>
        <div class="underline-center"></div>
        <p class="textRight">{description2}</p>
        <div class="socialLeft"> 
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-instagram-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-tiktok-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-facebook-logo"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="modalC" class="modal">
    <div class="close-menu-container">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <div class="modal-content">
      <img src={Panelista3.src} alt="Card Image">
      <div>
        <div class="close-menu-B">
          <span class="close"></span>
          <div class="rombo">
            <div class="line2"></div>
          </div>
        </div>
        <h3 class="card-title">{guest3}</h3>
        <p>{title}</p>
        <div class="underline-center"></div>
        <p class="textRight">{description3}</p>
        <div class="socialLeft"> 
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-instagram-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-tiktok-logo"></i>
          </a>
          <a href="#" target="_blank" class="btn contact-details">
            <i class="ph ph-facebook-logo"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

<style lang="scss">
  @use "../assets//sass/index" as*;

  .modal {
    display: none; 
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(10px);
    background-color: rgba($tertiary, 0.85);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15% auto;
    width: 90%;
  }

  .modal-content img {
    padding-top: 20px;
    border-radius: 8px;
  }

  img {
    width: 100%;
  }

  .modal-content .textRight {
    text-align: left;
  }

  h3 {
    color: $secondary;
    font-size: 2rem;
    padding-top: 10px;
  }

  p {
    color: $secondary;
    font-size: 1.25rem;
    font-family: $text;
    font-weight: $bold;
    margin: 10px 0;
  }

  .underline-center {
    width: 270px;
    height: 2px;
    background-color: $accent-b-dark;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto;  
  }
  // start button close
  .close-menu-container {
    position: fixed;
    top: 30px;
    right: 5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .rombo {
    width: 35px;
    height: 35px;
    background-color: #34373D;
    transform: rotate(45deg); 
    box-shadow: 0 0 10px 5px rgba($primary, 70%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line2 {
    width: 29px;
    height: 4px;
    background-color: #E03F53; 
    position: relative;
    box-shadow: 0 0 10px 5px rgba(221, 46, 68, 35%);
  }

  .line2::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 4px;
    background-color: #E03F53;
    box-shadow: 0 0 10px 5px rgba(221, 46, 68, 35%);
    transform: rotate(90deg);
  }
  // end button close
  // start social media
  .modal-content i{
    border: 2px solid $accent-c-light;
    padding: 3px;
    border-radius: 8px;
  }

  .modal-content .ph {
    color: $accent-c-light;
    font-size: 2rem;
    margin-right: 20px;
    background-color: $primary;
  }

  .socialLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
  }

  .close-menu-B {
    display: none;
  }

 @media (min-width: 1024px) {
   
  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12% auto;
    width: 70%;
    overflow: hidden;
  }

  .modal-content img {
    padding-top: 0px;
  }

  img {
    width: 645px;
  }

  .underline-center {
    width: 300px; 
  }

  .socialLeft {
    padding-top: 20px;
    margin-left: 10%;
  }

  .textRight {
    margin-left: 10%;
  }

  .modal-content > div {
    background-color: $tertiary;
    padding: 1%;
  }

  .close-menu-container{
    display: none;
  }

  .close-menu-B {
    position: relative;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .line2 {
    display: flex;
  }
 }
</style>