---
import Panelista1 from "../assets/image/panelista1.webp";
import Panelista2 from "../assets/image/panelista2.webp";
import Panelista3 from "../assets/image/panelista3.webp";
import Panelista4 from "../assets/image/panelista4.webp";
import Panelista5 from "../assets/image/panelista5.webp";
import Panelista6 from "../assets/image/panelista6.webp";
import Panelista7 from "../assets/image/panelista7.webp";
import Panelista8 from "../assets/image/panelista8.webp";
import Panelista9 from "../assets/image/panelista9.webp";
import Panelista10 from "../assets/image/panelista10.webp";
import Panelista11 from "../assets/image/owner.jpg";
import Panelista12 from "../assets/image/panelista12.jpg";
const {guest1, guest2, guest3, guest4, guest5, guest6,
guest7, guest8, guest9, guest10, guest11, guest12, guest13, description1, description2, description3,
description4, description5, description6,
description7, description8, description9, description10, description11,
 description12, title} = Astro.props
---

<div id="modalA" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista2.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest1}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description1}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/lina.v_29?igsh=MTZjZ3E3bjEzNXYzNg==" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalB" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista1.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest2}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description2}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/thetruckingbarbie/?igsh=cWUzYmZwZTRjNWc2#" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalC" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista3.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest3}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description3}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/__izzyrojas?igsh=dG9saXpkazloZ3Jl" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalD" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista4.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest4}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description4}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/carlosg_rd?igsh=MWt3ZW03eHIwejhndg==" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalE" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista5.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest5}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description5}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/jmateo663?igsh=ODJscHhya3Z5Z2Vt" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalF" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista7.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest7}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description7}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/leone.lsalvador/?igsh=ZnN2bWprOHdpZjcx" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalG" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista6.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest6}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description6}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/jonathanliz1/?igsh=MzE5NHBuYXgzMzZp#" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalH" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista10.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest10}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description10}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/tn_carmona05?igsh=dzFhcG45bGdnbDF2" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalI" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista9.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest9}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description9}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/mariaerivera12/?igsh=eDYyczJwNjNldGp2" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalJ" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista8.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest8}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description8}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/gobertpereyra?igsh=MTNvbGF1NHlvcTYxZQ==" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalK" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista11.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest11}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description11}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/la95truckingshow/" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="https://www.tiktok.com/@la95truckingshow" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="https://www.facebook.com/people/La-95-Trucking-Show/100089084365171/" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div id="modalL" class="modal">
  <div class="close-menu-container">
    <span class="close"></span>
    <div class="rombo">
      <div class="line2"></div>
    </div>
  </div>
  <div class="modal-content">
    <img src={Panelista12.src} alt="Card Image">
    <div class="close-menu-B">
      <span class="close"></span>
      <div class="rombo">
        <div class="line2"></div>
      </div>
    </div>
    <section>
      <h3 class="card-title">{guest12}</h3>
      <p>{title}</p>
      <div class="underline-center"></div>
      <p class="textRight">{description12}</p>
      <div class="socialLeft"> 
        <a href="https://www.instagram.com/jmendozati?igsh=cjQxeXhrNzR5Z3I4" target="_blank" class="btn contact-details">
          <i class="ph ph-instagram-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-tiktok-logo"></i>
        </a>
        <a href="#" target="_blank" class="btn contact-details">
          <i class="ph ph-facebook-logo"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<style lang="scss">
  @use "../assets//sass/index" as*;

  .modal {
    display: none; 
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(10px);
    background-color: rgba($tertiary, 0.85);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15% auto;
    width: 90%;
  }

  .modal-content img {
    padding-top: 20px;
    border-radius: 8px;
  }

  img {
    width: 100%;
  }

  .modal-content .textRight {
    text-align: left;
  }

  h3 {
    color: $secondary;
    font-size: 2rem;
    padding-top: 10px;
  }

  p {
    color: $secondary;
    font-size: 1.25rem;
    font-family: $text;
    font-weight: $bold;
    margin: 10px 0;
  }

  .underline-center {
    width: 270px;
    height: 2px;
    background-color: $accent-b-dark;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto;  
  }
  // start button close
  .close-menu-container {
    position: fixed;
    top: 30px;
    right: 5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .rombo {
    width: 35px;
    height: 35px;
    background-color: #34373D;
    transform: rotate(45deg); 
    box-shadow: 0 0 10px 5px rgba($primary, 70%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line2 {
    width: 29px;
    height: 4px;
    background-color: #E03F53; 
    position: relative;
    box-shadow: 0 0 10px 5px rgba(221, 46, 68, 35%);
  }

  .line2::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 4px;
    background-color: #E03F53;
    box-shadow: 0 0 10px 5px rgba(221, 46, 68, 35%);
    transform: rotate(90deg);
  }
  // end button close
  // start social media
  .modal-content i{
    border: 2px solid $accent-c-light;
    padding: 3px;
    border-radius: 8px;
  }

  .modal-content .ph {
    color: $accent-c-light;
    font-size: 2rem;
    margin-right: 20px;
    background-color: $primary;
  }

  .socialLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
  }

  .close-menu-B {
    display: none;
  }

 @media (min-width: 1024px) {
  
  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    background-color: $tertiary;
    width: 90%;
    position: relative;

    section {
      padding: 0px 140px;
    }
  }

  .modal-content img {
    padding: 0;
  }

  img {
    width: 45%;
  }

  .underline-center {
    width: 300px; 
  }

  .socialLeft {
    padding-top: 20px;
  }

  .textRight {
    margin-top: 20px;
  }

  .modal-content > div {
    background-color: $tertiary;
    padding: 1%;
  }

  .close-menu-container{
    display: none;
  }

  .close-menu-B {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .line2 {
    display: flex;
  }
 }
</style>