---
const {titleA, textB, label, button, formMessage} = Astro.props;
---

<div class="podcasts-container">
  <h2>{titleA}</h2>
  <div class="underline-black"></div>
  <p>{textB}</p>
  <form id="newsletter-form" data-form-message={formMessage}>
    <label for="email">{label}</label>
    <input type="email" id="email" name="email" placeholder="name@gmail.com" required>
    <div class="button-container"> 
      <button type="submit">{button}</button>
    </div>
  </form>
</div>

<script>
  const form = document.getElementById("newsletter-form");
  const formMessage = form.dataset.formMessage;
  const email = document.getElementById("email");

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    
    fetch(import.meta.env.PUBLIC_API_BASE_URL.concat("subscribers/"), {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        subscriber: {
          email: email.value,
        }
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.error) throw new Error(data.error);
        
        form.reset();
        alert(formMessage);
      })
      .catch((error) => {
        alert(error.message);
      });

  });
</script>
  
<style lang="scss">
  @use "../assets/sass/index" as *;

  .podcasts-container {
    padding-top: 20px;
    background-color: $accent-b-dark;
    background-image: url("../assets/image/fire.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
  }
    
  .podcasts-container P {
    margin: 0 5%;
    text-align: center;
    padding: 20px;
    color: #000;
  }

  label {
    font-size: 1rem;
    font-family: $text;
    font-weight: $regular;
    color: #000;
    margin: 0 5%;
  }

  input {
    width: 90%;
    height: 45px;
    border: 2px solid black;
    background-color: transparent;
    margin: 0 5%;
    border-radius: 8px;
  }

  h2 {
    font-size: 2rem;
    font-weight: $regular;
    font-family: $heading;
    color: $primary;
    text-align: center;
  }

  .underline-black {
    width: 270px;
    height: 2px;
    background-color: $primary;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto; 
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
 
  button {
    border: 2px solid $primary;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    color: $primary;
    font-size: 1.5rem;
    font-family: $heading;
    font-weight: $regular;
    cursor: pointer;
    width: 130px;
    height: 38px;
  }

  @media (min-width: 1024px) {

    .podcasts-container {
      padding-top: 50px;
      background-color: $accent-b-dark;
      background-image: url("../assets/image/firedesk.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    form {
      max-width: 45%;
      margin: 0 auto;
    }
    h2 {
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
    }
    label {
      font-size: 1.5rem;
    }
    button {
      font-size: 2rem;
    }
  }
</style>