---
const {guest, image, description, button, title} = Astro.props
const {guest1, image1, description1}= Astro.props
const {guest2, image2, description2}= Astro.props 
---
<section> 
  <div class="center"> 
    <h2>{title}</h2>
    <div class="underlineshort"></div>
  </div>
  <div id="animation" class="flexbox">
    <div class="card">
      <div> 
        <img src={image.src} alt="Card Image" class="card-image">
        <div class="gradient">
          <h3 class="card-title">{guest}</h3>
        </div>
        <div class="card-content">
          <p class="card-description">{description}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalA">{button}</button>
          </div>
          <div class="small-image"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div> 
        <img src={image1.src} alt="Card Image" class="card-image">
        <div class="gradient">
          <h3 class="card-title">{guest1}</h3>
        </div>
        <div class="card-content">
          <p class="card-description">{description1}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalB">{button}</button>
          </div>
          <div class="small-image"></div>
        </div>
     </div>
    </div>
    <div class="card">
      <div> 
        <img src={image2.src} alt="Card Image" class="card-image">
        <div class="gradient">
          <h3 class="card-title">{guest2}</h3>
        </div>
        <div class="card-content">
          <p class="card-description">{description2}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalC">{button}</button>
          </div>
          <div class="small-image"></div>
        </div>
      </div>
    </div>
 </div>
</section>

<style lang="scss">
  @use '../assets/sass/index' as *;

  section {
    background-color: $primary;
  }
  
  .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    position: relative;
    width: 385px;
    margin: 0 5%;
    background-color: $tertiary;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .card-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    top: 175px;
    left: 0;
    width: 362px;
    height: 50px;
    background: linear-gradient(to right, rgba(32, 35, 39) 0%,
    rgba(32, 35, 39, 0.2) 50%,
    rgba(52, 55, 61, 0.1 )100%);
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .card-title {
    color: white;
    font-size: 2rem;
    margin-top: 6px;
    font-weight: $regular;
    font-family: $heading;
  }

  h2 {
    padding-top: 20px;
  }

  .underlineshort {
    width: 120px;
    height: 2px;
    background-color: $accent-b-dark;
    margin: 0 5%;
  }

  .card-content {
    padding: 20px;
  }

  .card-description {
    margin-top: 0;
    padding-right: 50px;
  }

  .small-image {
    position: absolute;
    top: 240px;
    left: 65%;
    width: 40%;
    height: 180px;
    background-image: url('../assets/image/darkmic.svg');
    background-size: cover;
    background-position: center;
  }

  .light-gold {
    width: 145px; 
    height: 40px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    button, #openModal {
      color: $accent-b-dark;
      font-size: 1.5rem;
      font-weight: $regular;
      font-family: $heading;
      background-color: $tertiary;
      cursor: pointer;
    }
  }

  .light-gold.gold-button {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 35%);
    border: 2px solid $accent-b-dark;
    margin: 20px 0 30px;
  }

  .gold-button {
    background-color: $accent-b-light;
  }

  .gold-button:hover {
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 40%);
  }

  #animation {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.9s ease-out;

  &.animate {
      opacity: 1;
      transform: translateX(0);
  }
}

  @media (min-width: 1024px) {

    .flexbox {
      display: flex;
      flex-direction: row;
    }

    h2 {
      font-size: 3rem;
      text-align: center;
      padding-top: 40px;
    }

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    .card {
      width: 23%;
      margin: 0 2%;
      margin-bottom: 30px;
    }
    .card-description {
      padding-right: 30%;
    }

    .small-image {
      top: 240px;
      left: 60%;
      width: 36%;
    }

    .underlineshort {
      width: 10%;
      height: 2px;
      background-color: $accent-b-dark;
      margin: 0 5%;
    }
  }
</style>