---
import CheckoutForm from './CheckoutForm.astro';
import image1 from '../assets/image/seguros.png';
import image2 from "../assets/image/trucksale.jpg"
import image3 from "../assets/image/school.jpg";
import image4 from "../assets/image/dot.jpg";
import image5 from "../assets/image/repair.png"
import image6 from "../assets/image/gruas.png"
import image7 from "../assets/image/tireautoservices.png"
const {title1, title, text1, text2, text3, text4, text5, text6, text7, button, buttonB, titleC, paragraph, 
paragraphC, yearly, monthly, buttonC, anchor, save} = Astro.props;
---
<section>
  <div class="center"> 
    <h2>{title1}</h2>
    <div class="underlineshort"></div>
  </div>
  <div class="flexbox">
    <div class="card">
      <div> 
        <img src={image1.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text1}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalC">{buttonB}</button>
          </div>
        </div>
      </div>
    </div>    
    <div class="card">
      <div> 
        <img src={image2.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text2}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalZ">{buttonB}</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div> 
        <img src={image3.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text3}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalY">{buttonB}</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div> 
        <img src={image4.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text4}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalX">{buttonB}</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div> 
        <img src={image5.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text5}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalW">{buttonB}</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div> 
        <img src={image6.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text6}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalK">{buttonB}</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div> 
        <img src={image7.src} alt="Card Image" class="card-image">
        <div class="card-content">
          <p class="card-description">{text7}</p>
          <div class="light-gold gold-button">
            <button class="openModal" data-modal="modalV">{buttonB}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<CheckoutForm
cosnt titleC={titleC}
const title={title}
const paragraphC={paragraphC}
const paragraph={paragraph}
const yearly={yearly}
const monthly={monthly}
const button={button}
const buttonC={buttonC}
const anchor={anchor}
const save={save}
/>

<style lang="scss">
  @use '../assets/sass/index' as *;

  section {
    background-color: $primary;
  }
  
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .card {
    position: relative;
    width: 170px;
    margin: 0 5%;
    background-color: $tertiary;
    border-radius: 8px;
    overflow: hidden;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  h2 {
    padding-top: 50px;
  }

  .underlineshort {
    width: 120px;
    height: 2px;
    background-color: $accent-b-dark;
    margin: 0 5%;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 10%; 
    padding-bottom: 20px;
  }

  .card-description {
    margin-top: 0;
    min-height: 60px; 
    flex: 1; 
    font-size: 1rem;
    text-align: center;
  }

  .light-gold {
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.3s, box-shadow 0.3s;

    button, #openModal {
      color: $accent-b-dark;
      font-size: 1rem;
      font-weight: $regular;
      font-family: $heading;
      background-color: transparent;
      padding: 0rem 1.5rem; 
      cursor: pointer;
    }
  }

  .light-gold.gold-button {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 10%);
    border: 2px solid $accent-b-dark;
  }

  .gold-button {
    background-color: $accent-b-light;
  }

  .gold-button:hover {
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 20%);
  }

  @media (min-width: 1024px) {

    .flexbox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 50px 5%;
    }

    h2 {
      font-size: 3rem;
      text-align: center;
      padding-top: 40px;
    }

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    .card {
      margin: 0 2%;
      margin-bottom: 30px;
    }

    .small-image {
      top: 355px;
      left: 60%;
      width: 30%;
    }

    .underlineshort {
      width: 10%;
      height: 2px;
      background-color: $accent-b-dark;
      margin: 0 5%;
    }
    
    .light-gold {
      width: 145px; 
      height: 40px;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s, box-shadow 0.3s;
    }

    #openModal {
      padding: 1.5rem 1.5rem; 
    }
  }
</style>
