---
import Video1 from "../assets/image/softballMedia25-01.mp4";
const { title, language = 'es', paragraph, button, navTips1, navTips2, navTips3, navTips4, navTips5, link1, link2, link3, link4, link5 } = Astro.props;
import formatDate from "../scripts/formatDate";

const articles = await fetch(import.meta.env.PUBLIC_API_BASE_URL.concat('trailers'), {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
}).then((response) => response.json());
---

<div class="section">
  <nav>
    <ul>
      <li><a href={link1}>{navTips1}</a></li>
      <li><a href={link2}>{navTips2}</a></li>
      <li><a href={link3}>{navTips3}</a></li>
      <li><a href={link4}>{navTips4}</a></li>
      <li><a href={link5}>{navTips5}</a></li>
    </ul>
  </nav>
  <div class="section-input">
    <input type="search" id="site-search" name="search" class="search-input" placeholder="Search...">
  </div>
</div>
<section>
  <div>
    <h2>{title}</h2>
    <div class="underline"></div>
    <p>{paragraph}</p>
  </div>
  <div id="content-tips">
    {articles.length > 0 &&
      articles
      .filter((article) => article.language === 'spanish')
      .map((article) => (
        <div class="search">
          <h4>{article.title}</h4>
          <div class="underline"></div>
          <span>{formatDate(article.uploaded_at, language)}</span>
          <figure>
            <img src={article.thumbnail_url} alt="trailer" />
            <div>
              <p class="lead-paragraph">{article.content}</p>
            </div>
          </figure>
        </div>
      ))
    }
  <div id="result" style="display: none;">
    <h3>No result found.</h3>
  </div>
  </div>
  <div class="section-center">
    <div class="light-gold gold-button">
      <button id="load-more">{button}</button>
    </div>
  </div>
</section>
<header>
  <h2>videos de tips</h2>
  <div class="underline"></div>
  <div class="flex-content"> 
    <div class="box-video">
      <h4>como montar una caja</h4>
      <video class="poster" controls preload="none" poster="/src/assets/image/tipDesk.webp">
        <source src={Video1} type="video/mp4" />
      </video>
    </div>
    <div class="box-video">
      <h4>como reparar un motor</h4>
      <video class="poster" controls preload="none" poster="/src/assets/image/tipDesk.webp">
        <source src={Video1} type="video/mp4" />
      </video>
    </div>
     <div class="box-video">
      <h4>como reparar un motor</h4>
      <video class="poster" controls preload="none" poster="/src/assets/image/tipDesk.webp">
        <source src={Video1} type="video/mp4" />
      </video>
    </div>
     <div class="box-video">
      <h4>como reparar un motor</h4>
      <video class="poster" controls preload="none" poster="/src/assets/image/tipDesk.webp">
        <source src={Video1} type="video/mp4" />
      </video>
    </div>
  </div>
</header>

<style lang="scss">
  @use "../assets/sass/index" as *;
  // start new styles
  header {
    padding-top: 50px;
    margin: 0 5%;
    .underline{
      margin: 0 0 20px 0;
    }
    h2{
      margin: 0;
    }
  }

  .flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .box-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  section{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    .underline {
      margin: 0;
    }
    h2{
      margin: 0;
    }
  }
  
  .search {
    display: flex;
    flex-direction: column;
  }

  section span {
    display: block;
    margin: 10px 0;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 620px;
      object-fit: contain;
    }
  }

  video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    width: 90%;
    max-width: 800px;
  }

  .poster {
    width: 100%;
    max-width: 640px;
    height: 360px;
    max-height: 90%;
    object-fit: cover;
  }

   :global(.read-toggle) {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: $regular;
    font-family: $heading;
    font-size: 1.1rem;
    margin-left: 6px;
    color: $accent-b-light;
    border-radius: 6px;
  }
  //end styles
  #result {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 0;
  }

  a {
    color: $secondary;
  }

  li:hover {
    text-decoration:underline;
    text-decoration-color: $accent-b-light;
    text-underline-offset: 13px;
    text-decoration-thickness: 3px;
  }

  input {
    background-color: $accent-b-dark;
    border: none;
    width: 100%;
    height: 60px;
    background-image: url("../assets/image/blacklupa.png");
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: calc(100% - 5%) center;
    padding-left: 5%;
    padding-right: 5%;
  }

  input::placeholder {
    width: 85%;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-family: $text;
    font-weight: $regular;
    font-size: 1rem;
  }

  input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
  }

  //end

  .podcasts-container P {
    text-align: left;
    margin: 0 5%;
    padding-top: 20px;
    font-size: 1rem;
  }

  span {
    color: rgba($secondary, 80%);
    font-family: $text;
    font-weight: $regular;
    font-size: 1.25rem;
  }

  h4 {
    padding-top: 50px;
    font-family: $heading;
    font-weight: $regular;
    font-size: 2rem;
    margin: 0;
    color: $secondary;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    box-shadow: 0px 4px 4px 0px rgba(black, 30%);
  }

  img {
    width: 146px;
    height: auto;
  }

  .section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .light-gold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    border-radius: 8px;
    padding: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

   button{
    color: $accent-b-dark;
    font-size: 1.5rem;
    font-weight: $regular;
    font-family: $heading;
    background-color: $tertiary;
    cursor: pointer;
  }

  .light-gold.gold-button {
    background-color: $tertiary;
    box-shadow: 0 0 20px 10px rgba($accent-b-dark, 35%);
    border: 2px solid $accent-b-dark;
    margin: 20px 0 30px;
  }

  .gold-button {
    background-color: $accent-b-light;
  }

  .gold-button:hover {
    box-shadow: 0 0 25px 15px rgba($accent-b-light, 40%);
  }

  @media (min-width: 1025px) {
    // start styles
    figure {
      flex-direction: row;
      gap: 50px;
    }
    //end styles

    .section {
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      background-color: $primary;

      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.25rem;
      }
      a {
        font-size: 2rem;
      }
    }

    ul {
      gap: 50px;
      margin: 0;
    }

    nav {
      margin: 0 15%;
    }

    .section-input {
      width: 472px;
    }

    .light-gold {
      width: 178px;
    }
  }
</style>