---
const {title, language = "es", paragraph2, button } = Astro.props;
const marketplace = await fetch(import.meta.env.PUBLIC_API_BASE_URL.concat('marketplaces'), {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
}).then((response) => response.json());
---
<article>
  <h2>Pública tus artículos aquí</h2>
  <div class="underline"></div>
  <p>¿Tienes algo para vender? Publica tu artículo con nosotros.</p>
  <button class="openModal" data-modal="modalC">{button}</button>
</article>

<div class="background">
  <h2>Artículos publicados</h2>
  <div class="underline"></div>
 <section>
  {marketplace.length > 0 &&
    marketplace
      .filter((marketplace) => marketplace.language === 'spanish')
      .map((marketplace) => (
        <div class="card-content">
          <h3>{marketplace.title}</h3>
          <p>{marketplace.content}</p>
          <img src={marketplace.thumbnail_url} alt="truck" />
          <p class="content-height">{marketplace.paragraphs}</p>
          <div class="light-button red-button">
            <button class="openModal" data-modal="modalD">{button}</button>
          </div>
        </div>
      ))
  }
</section>
</div>

<style lang="scss" >
  @use '../assets/sass/index' as *;
  // section
    article {
      display: block;
      padding: 50px 0;
      background-color: $accent-b-dark;
      width: 100%;
    .underline{
      background-color: $primary;
    }
    h2 ,p{
      color: $primary;
    }
    p{
      margin: 15px 5%;
    }
    button {
      border: 2px solid $primary;
      border-radius: 8px;
      background-color: transparent;
      text-align: center;
      color: $primary;
      font-size: 1.5rem;
      font-family: $heading;
      font-weight: $regular;
      cursor: pointer;
      width: 130px;
      margin: 0 5%;
    } 
  }
  //end

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background-color: $primary;
    width: 350px;
    height: 510px;
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    overflow: hidden;

    h3 {
      color: $accent-b-dark;
      margin: 0;
    }
    p {
      margin: 5px 0;
    }

    .content-height {
      height: 300px;
    }

    img {
      width: 100%;
    }

    .light-button{
      margin: 0;
    }

    button {
      width: 100%;
      padding: 0.5rem;
      font-size: 1.2rem;
      background-color: $accent-c-dark;
      color: white;
      border: none;
      border-radius: 6px;
      font-family: $heading;
      font-weight: $regular;
      cursor: pointer;
    }
  }

  @media (min-width: 1024px) {
    article {
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 50px 50px;
      background-image: url("../assets/image/arrowDesk.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      .underline{
        margin: 0 auto;
      }
    }
    .background,
     h2,
     .underline{
      margin: 0 auto;
      text-align: center;
    }
    .background > h2 {
      padding-top: 50px;
    }
  }

</style>